body{
    background-image: url(bg3.png);
    text-align: center;
}
#name1{
    padding: 8px;
    margin: 2px;
    border:2px solid black;
    border-radius: 25%;
    background-color: black;
    color: white;
}
#sub{
    padding: 10px;
    margin: 2px;
    border:2px solid black;
    border-radius: 25%;
    background-color: black;
    color: white;
    width: 100px;
}
#sub2{
    padding: 10px;
    margin: 2px;
    border:2px solid black;
    border-radius: 25%;
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
}
h1{
    color: black;
}